<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podgląd artykułu</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        padding: 0;
        background-color: #fdfdfd;
      }
      h1,
      h2 {
        color: #e32e2e;
      }
      p {
        margin-bottom: 1em;
      }
      img {
        max-width: 100%;
        height: auto;
        margin: 15px 0;
      }
      figcaption {
        font-size: 0.9em;
        color: #555;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div id="content-container"></div>
  </body>
</html>
